*
!backend
!backend/pyproject.toml
!backend/uv.lock
!backend/src
!backend/src/**
!backend/alembic.ini
!backend/alembic
!backend/alembic/**
!backend/bootstrap
!backend/bootstrap/vocabulary.json
!backend/bootstrap/users.json
!python
!python/pyproject.toml
!python/README.md
!python/LICENSE
!python/src
!python/src/**
**/__pycache__
**/*.pyc
