# PKDB_API_BASE="http://pk-db.com"
# PKDB_API_BASE="develop.pk-db.com"

PKDB_API_BASE="http://0.0.0.0:8000"
PKDB_SECRET_KEY="cgasj6yjpkagcgasj6yjpkagcgasj6yjpkag"
PKDB_DEFAULT_PASSWORD="pkdb"
PKDB_POSTGRES_PASSWORD="pass"
PKDB_EMAIL_HOST_USER=""
PKDB_EMAIL_HOST_PASSWORD=""

