sudo: required
language: python
services:
  - docker
python:
  - "3.6"
before_script:
  - docker-compose build
script:

  - docker-compose run --rm web bash -c "python wait_for_postgres.py &&
                                        ./manage.py makemigrations &&
                                        ./manage.py migrate &&
                                        ./manage.py test"

#  - docker-compose run --rm web bash -c "flake8 . &&
#    python wait_for_postgres.py &&
#    ./manage.py test"

after_success:

#  - if [ "$TRAVIS_BRANCH" == "master" ]; then
#    docker login --username=_ --password="$HEROKU_AUTH_TOKEN" registry.heroku.com;
#    docker tag web registry.heroku.com/pkdb-prod/web;
#    docker push registry.heroku.com/pkdb-prod/web;
#    fi
#  - if [ "$TRAVIS_BRANCH" == "qa" ]; then
#    docker login --username=_ --password="$HEROKU_AUTH_TOKEN" registry.heroku.com;
#    docker tag web registry.heroku.com/pkdb-qa/web;
#    docker push registry.heroku.com/pkdb-qa/web;
#    fi

notifications:
  email: false

cache:
  pip: true

env:
  PKDB_POSTGRES_PASSWORD = "test"
