__pycache__/
*.py[cod]
*$py.class
# ----------------------------
# django migrations
# ----------------------------
*/migrations/
.mypy_cache/
pkdb_app/studies/migrations/00*.py
pkdb_app/users/migrations/00*.py
pkdb_app/subjects/migrations/00*.py
pkdb_app/interventions/migrations/00*.py
pkdb_app/comments/migrations/00*.py
pkdb_app/outputs/migrations/00*.py
pkdb_app/depricated/categorials/migrations/00*.py
pkdb_app/depricated/substances/migrations/00*.py
pkdb_app/info_nodes/migrations/00*.py
pkdb_app/data/migrations/00*.py

