pip>=19.2.1

# core
pytz==2018.4 #old
Django==2.2.3
gunicorn>=19.9.0
newrelic>=3.2.2.94

# persistance stores
psycopg2-binary>=2.8.2
dj-database-url>=0.5.0 

# Model Tools
django-model-utils>=3.1.2
django_unique_upload>=0.2.1
django-environ>=0.4.5
django-allauth>=0.37.1
django-bootstrap3>=11.0.0

# Rest API
djangorestframework>=3.9.4
Markdown>=3.1.1
django-filter>=2.0
django-rest-swagger>=2.2.0
django-cors-headers>=2.4.0
django-rest-email-auth
coreapi>=2.3.3

# ---------------------------------
# Elastic Search (>=6.0 and <7.0)
# ---------------------------------
# django-elasticsearch-dsl only supports elasticsearch 6 (https://github.com/sabricot/django-elasticsearch-dsl/issues/170)

elasticsearch-dsl<7.0
django-elasticsearch-dsl>=6.4.1
# see https://github.com/barseghyanartur/django-elasticsearch-dsl-drf/pull/141
# django-elasticsearch-dsl-drf>=0.18
-e git+https://github.com/barseghyanartur/django-elasticsearch-dsl-drf.git#egg=django-elasticsearch-dsl-drf


# Static and Media Storage
django-storages>=1.7.1 
django-extra-fields>=1.0.0
boto3>=1.9.163 

ipykernel>=5.1.1
pandas>=0.23.4
numpy>=1.16.4
scipy>=1.3.0
matplotlib>=3.0.2

# units
pint>=0.9
json-logging>=0.1.1

# Developer Tools
ipdb>=0.11
ipython>=6.4.0
flake8>=3.7.7

# Testing
mock==2.0.0
factory-boy==2.11.1
django-nose>=1.4.5 
nose-progressive>=1.5.1 
coverage>=4.5.1
