{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PKDB">
    <meta name="author" content="Janek Grzegorzewski and Matthias Koenig">
    <link rel="icon" href="{% static 'pkdb/images/favicon.ico' %}"/>
    <title>PK-DB</title>

    <!-- CSS -->

    <!-- HEAD -->
    {% block head %}{% endblock %}

</head>
<body>

<div id="wrapper">
    <div id="page-wrapper">

        <div class="container">
            <!-- CONTENT -->
            {% block content %}{% endblock %}
            <!-- END CONTENT -->
        </div>

        <!-- FOOTER -->
        <div class="row">
            <div class="col-lg-12">
                <hr/>
                <p><img src="{% static 'pkdb/images/favicon.ico' %}"> &copy; 2017-2018 PK-DB</p>
            </div>
            <!-- END FOOTER -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

{% block javascript %}{% endblock %}
</body>
</html>
